<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
    <h1>Overview</h1>
    <p>Do you want to add person?</p>
    <p>Do you want to <a href="{{ url_for('landing')}}">Go Home?</a></p>
    <p>Do you want to <a href="{{ url_for('plot_png')}}">Do Some Plotting?</a></p>

  <head>
      <meta charset="utf-8">
      <title>Flask First Steps</title>
  </head>
  <body>
      <form action="{{ url_for('personadd')}}" method="post">
          <h5>Enter the user Details</h5>
          <div>
              <input type="text" name="pname" placeholder="pname">
          </div>
          <div>
              <input type="text" name="color" placeholder="color">
          </div>
          <div>
              <button >Submit</button>
          </div>
      </form>
  </body>

{% endblock %}
